
        /* Estilo para el rectángulo */
        .rectangulo {
            width: 20vw; /* Ancho del rectángulo */
            height: 100vh; /* Altura del rectángulo */
            background-image: url('imagenes/Gitartaste.jpg'); /* Color de fondo */
            background-size: cover; /* Ajusta la imagen para cubrir todo el área */
            background-position: center; /* Centra la imagen */
        }
        
        .Fondo {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('imagenes/fondo.jpeg'); /* Ruta de la imagen de fondo */
        background-size: cover; /* Ajusta la imagen para cubrir todo el contenedor */
        z-index: -1; /* Asegura que el fondo esté detrás de todo el contenido */
        }

        /* Estilo para el contenido */
        .content {
        position: relative;
        z-index: 1; /* Asegura que el contenido esté delante del fondo */
        color: white; /* Color del texto */
        padding: 20px;
        }

        .boton {
        padding: 10px 20px; /* Espacio interior del botón */
        background-color: white; /* Color de fondo */
        font-family:  'Lakki Reddy', sans-serif; /* Cambia el tipo de letra */
        color: black; /* Color del texto */
        border: 2px solid black;
        border-radius: 5px; /* Borde redondeado */
        cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
        font-size: 16px; /* Tamaño de la fuente */
        position: absolute; /* Posicionamiento absoluto */
        top: 30vh;
        left: 46vw;
        }

        /* Estilo para el botón cuando se pasa el cursor sobre él */
        .boton:hover {
            background-color: rgb(223, 100, 0); /* Cambia el color de fondo al pasar el cursor */
        }
    